@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #00292d;
}

#column-2 {
  background: #00474f;
}

#column-3 {
  background: #006671;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/

@media (min-width: 768px) {
  header {
    background-color: #c1b0e7;
  }
  .col-3 {
    width: 50%;
  }
  #column-1 {
    background-color: #362067;
  }

  #column-2 {
    background-color: #442881;
  }

  #column-3 {
    background-color: #51309b;
  }

  footer {
    background-color: #1b1033;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #b5f096;
  }
  .col-3 {
    width: 33.33%;
  }
  #column-1 {
    background-color: #20490b;
  }

  #column-2 {
    background-color: #2e670f;
  }

  #column-3 {
    background-color: #3b8414;
  }

  footer {
    background-color: #0d1d04;
  }

}
